In [9]:
import pandas as pd

In [10]:
import numpy as np
import seaborn as sb
import matplotlib as  pml
import matplotlib.pyplot as plt

In [16]:
hw1=pd.read_csv("/content/pima-indians-diabetes1.csv")

In [ ]:
print(hw1)

     Head1  head2  Head3  Head4  Head5  Head6  Head7  Head7.1  head8
0        6    148     72     35      0   33.6  0.627       50      1
1        1     85     66     29      0   26.6  0.351       31      0
2        8    183     64      0      0   23.3  0.672       32      1
3        1     89     66     23     94   28.1  0.167       21      0
4        0    137     40     35    168   43.1  2.288       33      1
..     ...    ...    ...    ...    ...    ...    ...      ...    ...
763     10    101     76     48    180   32.9  0.171       63      0
764      2    122     70     27      0   36.8  0.340       27      0
765      5    121     72     23    112   26.2  0.245       30      0
766      1    126     60      0      0   30.1  0.349       47      1
767      1     93     70     31      0   30.4  0.315       23      0

[768 rows x 9 columns]

In [ ]:
hw1.describe()

            Head1       head2       Head3  ...       Head7     Head7.1       head8
count  768.000000  768.000000  768.000000  ...  768.000000  768.000000  768.000000
mean     3.845052  120.894531   69.105469  ...    0.471876   33.240885    0.348958
std      3.369578   31.972618   19.355807  ...    0.331329   11.760232    0.476951
min      0.000000    0.000000    0.000000  ...    0.078000   21.000000    0.000000
25%      1.000000   99.000000   62.000000  ...    0.243750   24.000000    0.000000
50%      3.000000  117.000000   72.000000  ...    0.372500   29.000000    0.000000
75%      6.000000  140.250000   80.000000  ...    0.626250   41.000000    1.000000
max     17.000000  199.000000  122.000000  ...    2.420000   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
hw1.shape

(768, 9)

In [ ]:
hw1.axes

[RangeIndex(start=0, stop=768, step=1),
 Index(['Head1', 'head2', 'Head3', 'Head4', 'Head5', 'Head6', 'Head7',
        'Head7.1', 'head8'],
       dtype='object')]

In [ ]:
hw1.shape

(768, 9)

In [ ]:
hw1.std()

Head1        3.369578
head2       31.972618
Head3       19.355807
Head4       15.952218
Head5      115.244002
Head6        7.884160
Head7        0.331329
Head7.1     11.760232
head8        0.476951
dtype: float64

In [ ]:
hw1.dtypes

Head1        int64
head2        int64
Head3        int64
Head4        int64
Head5        int64
Head6      float64
Head7      float64
Head7.1      int64
head8        int64
dtype: object

In [ ]:
hw1.columns

Index(['Head1', 'head2', 'Head3', 'Head4', 'Head5', 'Head6', 'Head7',
       'Head7.1', 'head8'],
      dtype='object')

In [ ]:
hw1['Head5']>150

0      False
1      False
2      False
3      False
4       True
       ...
763     True
764    False
765    False
766    False
767    False
Name: Head5, Length: 768, dtype: bool

In [ ]:
hw1[hw1['Head5']>150]

     Head1  head2  Head3  Head4  Head5  Head6  Head7  Head7.1  head8
4        0    137     40     35    168   43.1  2.288       33      1
8        2    197     70     45    543   30.5  0.158       53      1
13       1    189     60     23    846   30.1  0.398       59      1
14       5    166     72     19    175   25.8  0.587       51      1
16       0    118     84     47    230   45.8  0.551       31      1
..     ...    ...    ...    ...    ...    ...    ...      ...    ...
733      2    106     56     27    165   29.0  0.426       22      0
738      2     99     60     17    160   36.6  0.453       21      0
748      3    187     70     22    200   36.4  0.408       36      1
753      0    181     88     44    510   43.3  0.222       26      1
763     10    101     76     48    180   32.9  0.171       63      0

[153 rows x 9 columns]

In [ ]:
hw1[['Head1','head2']]

     Head1  head2
0        6    148
1        1     85
2        8    183
3        1     89
4        0    137
..     ...    ...
763     10    101
764      2    122
765      5    121
766      1    126
767      1     93

[768 rows x 2 columns]

In [12]:
hw1.groupby('Head1')['head2'].mean()

Head1
0     123.000000
1     112.748148
2     110.796117
3     123.586667
4     125.117647
5     118.859649
6     120.800000
7     136.444444
8     131.736842
9     131.392857
10    120.916667
11    126.454545
12    113.555556
13    125.500000
14    137.500000
15    136.000000
17    163.000000
Name: head2, dtype: float64

In [13]:
hw1.Head1.describe()

count    768.000000
mean       3.845052
std        3.369578
min        0.000000
25%        1.000000
50%        3.000000
75%        6.000000
max       17.000000
Name: Head1, dtype: float64

In [14]:
hw1.iloc[2:70,0:6]

    Head1  head2  Head3  Head4  Head5  Head6
2       8    183     64      0      0   23.3
3       1     89     66     23     94   28.1
4       0    137     40     35    168   43.1
5       5    116     74      0      0   25.6
6       3     78     50     32     88   31.0
..    ...    ...    ...    ...    ...    ...
65      5     99     74     27      0   29.0
66      0    109     88     30      0   32.5
67      2    109     92      0      0   42.7
68      1     95     66     13     38   19.6
69      4    146     85     27    100   28.9

[68 rows x 6 columns]

In [26]:
hw1[['Head1','head2']].agg(['min','max','mean'])

          Head1       head2
min    0.000000    0.000000
max   17.000000  199.000000
mean   3.845052  120.894531